---
import cat1 from "../images/placeholders/teamworking.png";
---

<!-- Category Section -->
<section class="section--pad categorysec">
    <div class="container">
        <h2>Loren Ipsum</h2>
        <h5>Which one of these personality type are you?</h5>
        <h5>Let’s find out</h5>
        <div class="categorysec__wrap">
            <div class="card card--1">
                <img src={cat1} alt="Img">
                <h5>Teamworking</h5>
                <p> Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit </p>
                <a href="" class="lmore">Learn more</a>
            </div>
            <div class="card card--1">
                <img src={cat1} alt="Img">
                <h5>Critical Thinking</h5>
                <p> Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit </p>
                <a href="" class="lmore">Learn more</a>
            </div>
            <div class="card card--1">
                <img src={cat1} alt="Img">
                <h5>Problem Solver</h5>
                <p> Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit </p>
                <a href="" class="lmore">Learn more</a>
            </div>
            <div class="card card--1">
                <img src={cat1} alt="Img">
                <h5>Self-Disciplined</h5>
                <p> Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit </p>
                <a href="" class="lmore">Learn more</a>
            </div>
            <div class="card card--1">
                <img src={cat1} alt="Img">
                <h5>Continuous Learner</h5>
                <p> Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit </p>
                <a href="" class="lmore">Learn more</a>
            </div>
            <div class="card card--1">
                <img src={cat1} alt="Img">
                <h5>Entrepreneurial</h5>
                <p> Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit </p>
                <a href="" class="lmore">Learn more</a>
            </div>
            <div class="card card--1">
                <img src={cat1} alt="Img">
                <h5>Analytical</h5>
                <p> Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit </p>
                <a href="" class="lmore">Learn more</a>
            </div>
            <div class="card card--1">
                <img src={cat1} alt="Img">
                <h5>Precise & Systematic</h5>
                <p> Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit </p>
                <a href="" class="lmore">Learn more</a>
            </div>
        </div>
    </div>
</section>
<!--  -->