---
import flag from "../images/placeholders/country.png";
---

<!-- Jobs Section -->
<section class="section--pad bg--blue">
  <div class="container">
    <h3 class="text-center text--white">Jobs you may be interested in</h3>
    <div class="slider--jobs">
      <div class="card card--3">
        <div class="card__head">
          <p class="card__label">Team Player</p>
          <a href="" class="lmore">Learn more</a>
        </div>
        <h5>Marketing Coordinator</h5>
        <p>Job type | $123,000 - $987,000</p>
        <p><img src={flag} alt="Country" /><b>Location</b></p>
        <ul>
          <li>Lorem ipsum</li>
          <li>Industry information</li>
          <li>Other important information</li>
        </ul>
      </div>
      <div class="card card--3">
        <div class="card__head">
          <p class="card__label">Team Player</p>
          <a href="" class="lmore">Learn more</a>
        </div>
        <h5>Marketing Coordinator</h5>
        <p>Job type | $123,000 - $987,000</p>
        <p><img src={flag} alt="Country" /><b>Location</b></p>
        <ul>
          <li>Lorem ipsum</li>
          <li>Industry information</li>
          <li>Other important information</li>
        </ul>
      </div>
      <div class="card card--3">
        <div class="card__head">
          <p class="card__label">Team Player</p>
          <a href="" class="lmore">Learn more</a>
        </div>
        <h5>Marketing Coordinator</h5>
        <p>Job type | $123,000 - $987,000</p>
        <p><img src={flag} alt="Country" /><b>Location</b></p>
        <ul>
          <li>Lorem ipsum</li>
          <li>Industry information</li>
          <li>Other important information</li>
        </ul>
      </div>
      <div class="card card--3">
        <div class="card__head">
          <p class="card__label">Team Player</p>
          <a href="" class="lmore">Learn more</a>
        </div>
        <h5>Marketing Coordinator</h5>
        <p>Job type | $123,000 - $987,000</p>
        <p><img src={flag} alt="Country" /><b>Location</b></p>
        <ul>
          <li>Lorem ipsum</li>
          <li>Industry information</li>
          <li>Other important information</li>
        </ul>
      </div>
      <div class="card card--3">
        <div class="card__head">
          <p class="card__label">Team Player</p>
          <a href="" class="lmore">Learn more</a>
        </div>
        <h5>Marketing Coordinator</h5>
        <p>Job type | $123,000 - $987,000</p>
        <p><img src={flag} alt="Country" /><b>Location</b></p>
        <ul>
          <li>Lorem ipsum</li>
          <li>Industry information</li>
          <li>Other important information</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--  -->
